<% include struct/header.ejs %>
<% include struct/navbar.ejs %>
<div class="container-fluid my-4 text-center">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-6 my-4">
            <h2><%= subTitle %></h2>
            <hr>
            <p>
                CryptoStat
            </p>
            <% for( var index in data ){ %>
            <a href="#" class="btn btn-blue"><%= data[index] %></a>
            <% } %>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<% include struct/footer.ejs %>